/* Embroidery CSS Starts Here */
label {
    display: flex;
    font-weight: bold;
    /* margin-top: 10px; */
    flex-direction: row;
    align-items: center;
}
.embroidery-addon {
    background: #F5F5F5;
    padding: 10px;
}
#embroidery-options {
    max-width: 60%;
    width: 100%;
}
div#embroidery-options > * {
    width: calc(100% - 1rem);
}
.hidden { display: none; }
.mockup {
    position: relative;
    max-width: 40%;
    width: 100%;
    height: 200px;
    text-align: center;
    line-height: 150px;
    font-size: 20px;
    font-family: serif;
    background: #f3f3f3;
    margin-top: 10px;
    color: white;
    text-shadow: 1px 1px 2px black;
}
.script { font-family: cursive; }
.serif { font-family: serif; }
.gold { color: gold; }
.white { color: white; text-shadow: 1px 1px 2px black; }
.option-group {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 5px;
}
.option-group input[type="radio"] {
    display: none;
}
.option-group label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}
.option-group input[type="radio"]:checked + label {
    border: 2px solid black;
    font-weight: bold;
    background-color: #e2e2e2;
}
.disabled {
    opacity: 0.5;
    pointer-events: none;
}
.one-line {
    max-width: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#emboidery-addon--container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}
#mockup-image {
    position: relative;
    width: 100%;
    height: inherit;
}
.mockup-text {
    position: absolute;
    inset: 0;
    margin: auto;
    background: rgba(0, 0, 0, 0.1);
}
@media (max-width: 768px) {
    #emboidery-addon--container {
        flex-direction: column;
    }
    #embroidery-options {
        max-width: 100%;
    }
    div#embroidery-options > * {
        width: 100%;
    }
    .mockup {
        max-width: 100%;
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mockup-text {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.05);
    }

}
/* Embroidery CSS Ends Here */